@media (prefers-color-scheme: dark) {
  :root {
    --uai-color-neutral-opaque-0: #020202;
    --uai-color-neutral-opaque-3: #040404;
    --uai-color-neutral-opaque-6: #0c0c0c;
    --uai-color-neutral-opaque-10: #161616;
    --uai-color-neutral-opaque-20: #242424;
    --uai-color-neutral-opaque-30: #333333;
    --uai-color-neutral-opaque-40: #595959;
    --uai-color-neutral-opaque-50: #747474;
    --uai-color-neutral-opaque-60: #8c8c8c;
    --uai-color-neutral-opaque-70: #a8a8a8;
    --uai-color-neutral-opaque-80: #c5c5c5;
    --uai-color-neutral-opaque-90: #e1e1e1;
    --uai-color-neutral-opaque-100: #ffffffff;
    --uai-color-neutral-transparent-0: #ffffff01;
    --uai-color-neutral-transparent-3: #ffffff03;
    --uai-color-neutral-transparent-6: #ffffff08;
    --uai-color-neutral-transparent-10: #ffffff12;
    --uai-color-neutral-transparent-20: #ffffff24;
    --uai-color-neutral-transparent-30: #ffffff36;
    --uai-color-neutral-transparent-40: #ffffff60;
    --uai-color-neutral-transparent-50: #ffffff7d;
    --uai-color-neutral-transparent-60: #ffffff95;
    --uai-color-neutral-transparent-70: #ffffffb0;
    --uai-color-neutral-transparent-80: #ffffffcb;
    --uai-color-neutral-transparent-90: #ffffffe4;
    --uai-color-neutral-transparent-100: #ffffffff;
    --uai-color-accent-0: #ffffffff;
    --uai-color-accent-3: #ffffffff;
    --uai-color-accent-6: #ffffffff;
    --uai-color-accent-10: #ffffffff;
    --uai-color-accent-20: #002156;
    --uai-color-accent-30: #ffffffff;
    --uai-color-accent-40: #004bd7;
    --uai-color-accent-50: #006bf8;
    --uai-color-accent-60: #ffffffff;
    --uai-color-accent-70: #71aaff;
    --uai-color-accent-80: #ffffffff;
    --uai-color-accent-90: #ffffffff;
    --uai-color-accent-100: #ffffffff;
    --uai-color-danger-0: #ffffffff;
    --uai-color-danger-3: #e9001e;
    --uai-color-danger-6: #e9001e;
    --uai-color-danger-10: #e9001e;
    --uai-color-danger-20: #520004;
    --uai-color-danger-30: #e9001e;
    --uai-color-danger-40: #b60015;
    --uai-color-danger-50: #e9001e;
    --uai-color-danger-60: #e9001e;
    --uai-color-danger-70: #fe8588;
    --uai-color-danger-80: #ffffffff;
    --uai-color-danger-90: #ffffffff;
    --uai-color-danger-100: #ffffffff;
  }
}
:root {
  --uai-color-neutral-opaque-0: #ffffff;
  --uai-color-neutral-opaque-3: #fbfbfb;
  --uai-color-neutral-opaque-6: #f7f7f7;
  --uai-color-neutral-opaque-10: #efefef;
  --uai-color-neutral-opaque-20: #dddddd;
  --uai-color-neutral-opaque-30: #c9c9c9;
  --uai-color-neutral-opaque-40: #959595;
  --uai-color-neutral-opaque-50: #777777;
  --uai-color-neutral-opaque-60: #606060;
  --uai-color-neutral-opaque-70: #494949;
  --uai-color-neutral-opaque-80: #353535;
  --uai-color-neutral-opaque-90: #212121;
  --uai-color-neutral-opaque-100: #000000ff;
  --uai-color-neutral-transparent-0: #00000000;
  --uai-color-neutral-transparent-3: #00000004;
  --uai-color-neutral-transparent-6: #00000007;
  --uai-color-neutral-transparent-10: #0000000e;
  --uai-color-neutral-transparent-20: #0000001e;
  --uai-color-neutral-transparent-30: #00000031;
  --uai-color-neutral-transparent-40: #00000062;
  --uai-color-neutral-transparent-50: #0000007f;
  --uai-color-neutral-transparent-60: #00000097;
  --uai-color-neutral-transparent-70: #000000b0;
  --uai-color-neutral-transparent-80: #000000c6;
  --uai-color-neutral-transparent-90: #000000df;
  --uai-color-neutral-transparent-100: #000000ff;
  --uai-color-accent-0: #ffffff;
  --uai-color-accent-3: #ffffff;
  --uai-color-accent-6: #ffffff;
  --uai-color-accent-10: #ffffff;
  --uai-color-accent-20: #c9e0ff;
  --uai-color-accent-30: #ffffff;
  --uai-color-accent-40: #4c94ff;
  --uai-color-accent-50: #006ffc;
  --uai-color-accent-60: #ffffff;
  --uai-color-accent-70: #0038c4;
  --uai-color-accent-80: #ffffff;
  --uai-color-accent-90: #ffffff;
  --uai-color-accent-100: #ffffff;
  --uai-color-danger-0: #ffffff;
  --uai-color-danger-3: #ef000e;
  --uai-color-danger-6: #ef000e;
  --uai-color-danger-10: #ef000e;
  --uai-color-danger-20: #ffd3cd;
  --uai-color-danger-30: #ef000e;
  --uai-color-danger-40: #ff5e57;
  --uai-color-danger-50: #ef000e;
  --uai-color-danger-60: #ef000e;
  --uai-color-danger-70: #990000;
  --uai-color-danger-80: #ffffff;
  --uai-color-danger-90: #ffffff;
  --uai-color-danger-100: #ffffff;
  --uai-color-surface-0: var(--uai-color-neutral-opaque-0);
  --uai-color-surface-1: var(--uai-color-neutral-opaque-3);
  --uai-color-surface-2: var(--uai-color-neutral-opaque-6);
  --uai-color-surface-minus-1: var(--uai-color-neutral-transparent-3);
  --uai-color-stroke: var(--uai-color-neutral-transparent-10);
  --uai-color-divider: var(--uai-color-neutral-transparent-20);
  --uai-color-shadow-1: var(--uai-color-neutral-transparent-10);
  --uai-color-disabled-text: var(--uai-color-neutral-transparent-40);
  --uai-color-subdued-heading: var(--uai-color-neutral-transparent-40);
  --uai-color-subdued-text: var(--uai-color-neutral-transparent-50);
  --uai-color-text: var(--uai-color-neutral-transparent-90);
  --uai-color-heading: var(--uai-color-neutral-transparent-100);
  --uai-color-accent-focus-stroke: var(--uai-color-accent-40);
  --uai-color-accent-link: var(--uai-color-accent-50);
  --uai-color-accent-color-text: var(--uai-color-accent-0);
  --uai-color-accent-color-surface: var(--uai-color-accent-50);
  --uai-color-accent-tint-text: var(--uai-color-accent-70);
  --uai-color-accent-tint-surface: var(--uai-color-accent-20);
  --uai-color-danger-focus-stroke: var(--uai-color-danger-40);
  --uai-color-danger-link: var(--uai-color-danger-50);
  --uai-color-danger-color-text: var(--uai-color-danger-0);
  --uai-color-danger-color-surface: var(--uai-color-danger-50);
  --uai-color-danger-tint-text: var(--uai-color-danger-70);
  --uai-color-danger-tint-surface: var(--uai-color-danger-20);
  --uai-dimension-0: 0px;
  --uai-dimension-1: 1px;
  --uai-dimension-half: 50%;
  --uai-dimension-third: 33.333%;
  --uai-dimension-fourth: 25%;
  --uai-dimension-major-scale-1: 0.25rem;
  --uai-dimension-major-scale-2: 0.5rem;
  --uai-dimension-major-scale-3: 0.75rem;
  --uai-dimension-major-scale-4: 1rem;
  --uai-dimension-major-scale-5: 1.5rem;
  --uai-dimension-major-scale-6: 2rem;
  --uai-dimension-major-scale-7: 3rem;
  --uai-dimension-major-scale-8: 4rem;
  --uai-dimension-major-scale-9: 6rem;
  --uai-dimension-major-scale-10: 8rem;
  --uai-dimension-major-scale-11: 12rem;
  --uai-dimension-major-scale-12: 16rem;
  --uai-dimension-major-scale-13: 24rem;
  --uai-dimension-major-scale-14: 32rem;
  --uai-dimension-minor-scale-1: 0.125rem;
  --uai-dimension-minor-scale-2: 0.25rem;
  --uai-dimension-minor-scale-3: 0.375rem;
  --uai-dimension-minor-scale-4: 0.5rem;
  --uai-dimension-minor-scale-5: 0.625rem;
  --uai-dimension-minor-scale-6: 0.75rem;
  --uai-dimension-minor-scale-7: 0.875rem;
  --uai-dimension-minor-scale-8: 1rem;
  --uai-dimension-minor-scale-9: 1.25rem;
  --uai-dimension-minor-scale-10: 1.5rem;
  --uai-dimension-minor-scale-11: 1.75rem;
  --uai-dimension-minor-scale-12: 2rem;
  --uai-dimension-minor-scale-13: 2.5rem;
  --uai-dimension-minor-scale-14: 3rem;
  --uai-dimension-minor-scale-15: 3.5rem;
  --uai-dimension-minor-scale-16: 4rem;
  --uai-dimension-minor-scale-17: 5rem;
  --uai-dimension-minor-scale-18: 6rem;
  --uai-typography-family-sans: 'Inter', sans-serif;
  --uai-typography-weight-normal: 400;
  --uai-typography-weight-medium: 500;
  --uai-typography-weight-semi-bold: 600;
  --uai-typography-tracking-1: -1.6;
  --uai-typography-tracking-2: -0.36;
  --uai-typography-tracking-3: -0.2;
  --uai-typography-tracking-4: -0.14;
  --uai-typography-tracking-5: 0;
  --uai-typography-leading-1: 1;
  --uai-typography-leading-2: 1.17;
  --uai-typography-leading-3: 1.25;
  --uai-typography-leading-4: 1.5;
}
.bg-surface-0 {
  background: var(--uai-color-surface-0);
}
.bg-surface-1 {
  background: var(--uai-color-surface-1);
}
.bg-surface-2 {
  background: var(--uai-color-surface-2);
}
.bg-surface-minus-1 {
  background: var(--uai-color-surface-minus-1);
}
.bg-stroke {
  background: var(--uai-color-stroke);
}
.bg-divider {
  background: var(--uai-color-divider);
}
.bg-shadow-1 {
  background: var(--uai-color-shadow-1);
}
.bg-disabled-text {
  background: var(--uai-color-disabled-text);
}
.bg-subdued-heading {
  background: var(--uai-color-subdued-heading);
}
.bg-subdued-text {
  background: var(--uai-color-subdued-text);
}
.bg-text {
  background: var(--uai-color-text);
}
.bg-heading {
  background: var(--uai-color-heading);
}
.bg-accent-focus-stroke {
  background: var(--uai-color-accent-focus-stroke);
}
.bg-accent-link {
  background: var(--uai-color-accent-link);
}
.bg-accent-color-text {
  background: var(--uai-color-accent-color-text);
}
.bg-accent-color-surface {
  background: var(--uai-color-accent-color-surface);
}
.bg-accent-tint-text {
  background: var(--uai-color-accent-tint-text);
}
.bg-accent-tint-surface {
  background: var(--uai-color-accent-tint-surface);
}
.bg-danger-focus-stroke {
  background: var(--uai-color-danger-focus-stroke);
}
.bg-danger-link {
  background: var(--uai-color-danger-link);
}
.bg-danger-color-text {
  background: var(--uai-color-danger-color-text);
}
.bg-danger-color-surface {
  background: var(--uai-color-danger-color-surface);
}
.bg-danger-tint-text {
  background: var(--uai-color-danger-tint-text);
}
.bg-danger-tint-surface {
  background: var(--uai-color-danger-tint-surface);
}
.text-surface-0 {
  color: var(--uai-color-surface-0);
}
.text-surface-1 {
  color: var(--uai-color-surface-1);
}
.text-surface-2 {
  color: var(--uai-color-surface-2);
}
.text-surface-minus-1 {
  color: var(--uai-color-surface-minus-1);
}
.text-stroke {
  color: var(--uai-color-stroke);
}
.text-divider {
  color: var(--uai-color-divider);
}
.text-shadow-1 {
  color: var(--uai-color-shadow-1);
}
.text-disabled-text {
  color: var(--uai-color-disabled-text);
}
.text-subdued-heading {
  color: var(--uai-color-subdued-heading);
}
.text-subdued-text {
  color: var(--uai-color-subdued-text);
}
.text-text {
  color: var(--uai-color-text);
}
.text-heading {
  color: var(--uai-color-heading);
}
.text-accent-focus-stroke {
  color: var(--uai-color-accent-focus-stroke);
}
.text-accent-link {
  color: var(--uai-color-accent-link);
}
.text-accent-color-text {
  color: var(--uai-color-accent-color-text);
}
.text-accent-color-surface {
  color: var(--uai-color-accent-color-surface);
}
.text-accent-tint-text {
  color: var(--uai-color-accent-tint-text);
}
.text-accent-tint-surface {
  color: var(--uai-color-accent-tint-surface);
}
.text-danger-focus-stroke {
  color: var(--uai-color-danger-focus-stroke);
}
.text-danger-link {
  color: var(--uai-color-danger-link);
}
.text-danger-color-text {
  color: var(--uai-color-danger-color-text);
}
.text-danger-color-surface {
  color: var(--uai-color-danger-color-surface);
}
.text-danger-tint-text {
  color: var(--uai-color-danger-tint-text);
}
.text-danger-tint-surface {
  color: var(--uai-color-danger-tint-surface);
}
.border-in-surface-0 {
  border-color: var(--uai-color-surface-0);
}
.border-in-surface-1 {
  border-color: var(--uai-color-surface-1);
}
.border-in-surface-2 {
  border-color: var(--uai-color-surface-2);
}
.border-in-surface-minus-1 {
  border-color: var(--uai-color-surface-minus-1);
}
.border-in-stroke {
  border-color: var(--uai-color-stroke);
}
.border-in-divider {
  border-color: var(--uai-color-divider);
}
.border-in-shadow-1 {
  border-color: var(--uai-color-shadow-1);
}
.border-in-disabled-text {
  border-color: var(--uai-color-disabled-text);
}
.border-in-subdued-heading {
  border-color: var(--uai-color-subdued-heading);
}
.border-in-subdued-text {
  border-color: var(--uai-color-subdued-text);
}
.border-in-text {
  border-color: var(--uai-color-text);
}
.border-in-heading {
  border-color: var(--uai-color-heading);
}
.border-in-accent-focus-stroke {
  border-color: var(--uai-color-accent-focus-stroke);
}
.border-in-accent-link {
  border-color: var(--uai-color-accent-link);
}
.border-in-accent-color-text {
  border-color: var(--uai-color-accent-color-text);
}
.border-in-accent-color-surface {
  border-color: var(--uai-color-accent-color-surface);
}
.border-in-accent-tint-text {
  border-color: var(--uai-color-accent-tint-text);
}
.border-in-accent-tint-surface {
  border-color: var(--uai-color-accent-tint-surface);
}
.border-in-danger-focus-stroke {
  border-color: var(--uai-color-danger-focus-stroke);
}
.border-in-danger-link {
  border-color: var(--uai-color-danger-link);
}
.border-in-danger-color-text {
  border-color: var(--uai-color-danger-color-text);
}
.border-in-danger-color-surface {
  border-color: var(--uai-color-danger-color-surface);
}
.border-in-danger-tint-text {
  border-color: var(--uai-color-danger-tint-text);
}
.border-in-danger-tint-surface {
  border-color: var(--uai-color-danger-tint-surface);
}
.border-out-surface-0 {
  outline-color: var(--uai-color-surface-0);
}
.border-out-surface-1 {
  outline-color: var(--uai-color-surface-1);
}
.border-out-surface-2 {
  outline-color: var(--uai-color-surface-2);
}
.border-out-surface-minus-1 {
  outline-color: var(--uai-color-surface-minus-1);
}
.border-out-stroke {
  outline-color: var(--uai-color-stroke);
}
.border-out-divider {
  outline-color: var(--uai-color-divider);
}
.border-out-shadow-1 {
  outline-color: var(--uai-color-shadow-1);
}
.border-out-disabled-text {
  outline-color: var(--uai-color-disabled-text);
}
.border-out-subdued-heading {
  outline-color: var(--uai-color-subdued-heading);
}
.border-out-subdued-text {
  outline-color: var(--uai-color-subdued-text);
}
.border-out-text {
  outline-color: var(--uai-color-text);
}
.border-out-heading {
  outline-color: var(--uai-color-heading);
}
.border-out-accent-focus-stroke {
  outline-color: var(--uai-color-accent-focus-stroke);
}
.border-out-accent-link {
  outline-color: var(--uai-color-accent-link);
}
.border-out-accent-color-text {
  outline-color: var(--uai-color-accent-color-text);
}
.border-out-accent-color-surface {
  outline-color: var(--uai-color-accent-color-surface);
}
.border-out-accent-tint-text {
  outline-color: var(--uai-color-accent-tint-text);
}
.border-out-accent-tint-surface {
  outline-color: var(--uai-color-accent-tint-surface);
}
.border-out-danger-focus-stroke {
  outline-color: var(--uai-color-danger-focus-stroke);
}
.border-out-danger-link {
  outline-color: var(--uai-color-danger-link);
}
.border-out-danger-color-text {
  outline-color: var(--uai-color-danger-color-text);
}
.border-out-danger-color-surface {
  outline-color: var(--uai-color-danger-color-surface);
}
.border-out-danger-tint-text {
  outline-color: var(--uai-color-danger-tint-text);
}
.border-out-danger-tint-surface {
  outline-color: var(--uai-color-danger-tint-surface);
}
.p-major-scale-1 {
  padding: var(--uai-dimension-major-scale-1);
}
.p-major-scale-2 {
  padding: var(--uai-dimension-major-scale-2);
}
.p-major-scale-3 {
  padding: var(--uai-dimension-major-scale-3);
}
.p-major-scale-4 {
  padding: var(--uai-dimension-major-scale-4);
}
.p-major-scale-5 {
  padding: var(--uai-dimension-major-scale-5);
}
.p-major-scale-6 {
  padding: var(--uai-dimension-major-scale-6);
}
.p-major-scale-7 {
  padding: var(--uai-dimension-major-scale-7);
}
.p-major-scale-8 {
  padding: var(--uai-dimension-major-scale-8);
}
.p-major-scale-9 {
  padding: var(--uai-dimension-major-scale-9);
}
.p-major-scale-10 {
  padding: var(--uai-dimension-major-scale-10);
}
.p-major-scale-11 {
  padding: var(--uai-dimension-major-scale-11);
}
.p-major-scale-12 {
  padding: var(--uai-dimension-major-scale-12);
}
.p-major-scale-13 {
  padding: var(--uai-dimension-major-scale-13);
}
.p-major-scale-14 {
  padding: var(--uai-dimension-major-scale-14);
}
.p-minor-scale-1 {
  padding: var(--uai-dimension-minor-scale-1);
}
.p-minor-scale-2 {
  padding: var(--uai-dimension-minor-scale-2);
}
.p-minor-scale-3 {
  padding: var(--uai-dimension-minor-scale-3);
}
.p-minor-scale-4 {
  padding: var(--uai-dimension-minor-scale-4);
}
.p-minor-scale-5 {
  padding: var(--uai-dimension-minor-scale-5);
}
.p-minor-scale-6 {
  padding: var(--uai-dimension-minor-scale-6);
}
.p-minor-scale-7 {
  padding: var(--uai-dimension-minor-scale-7);
}
.p-minor-scale-8 {
  padding: var(--uai-dimension-minor-scale-8);
}
.p-minor-scale-9 {
  padding: var(--uai-dimension-minor-scale-9);
}
.p-minor-scale-10 {
  padding: var(--uai-dimension-minor-scale-10);
}
.p-minor-scale-11 {
  padding: var(--uai-dimension-minor-scale-11);
}
.p-minor-scale-12 {
  padding: var(--uai-dimension-minor-scale-12);
}
.p-minor-scale-13 {
  padding: var(--uai-dimension-minor-scale-13);
}
.p-minor-scale-14 {
  padding: var(--uai-dimension-minor-scale-14);
}
.p-minor-scale-15 {
  padding: var(--uai-dimension-minor-scale-15);
}
.p-minor-scale-16 {
  padding: var(--uai-dimension-minor-scale-16);
}
.p-minor-scale-17 {
  padding: var(--uai-dimension-minor-scale-17);
}
.p-minor-scale-18 {
  padding: var(--uai-dimension-minor-scale-18);
}
.p-0 {
  padding: var(--uai-dimension-0);
}
.p-1 {
  padding: var(--uai-dimension-1);
}
.p-half {
  padding: var(--uai-dimension-half);
}
.p-third {
  padding: var(--uai-dimension-third);
}
.p-fourth {
  padding: var(--uai-dimension-fourth);
}
.ph-major-scale-1 {
  padding-left: var(--uai-dimension-major-scale-1);
  padding-right: var(--uai-dimension-major-scale-1);
}
.ph-major-scale-2 {
  padding-left: var(--uai-dimension-major-scale-2);
  padding-right: var(--uai-dimension-major-scale-2);
}
.ph-major-scale-3 {
  padding-left: var(--uai-dimension-major-scale-3);
  padding-right: var(--uai-dimension-major-scale-3);
}
.ph-major-scale-4 {
  padding-left: var(--uai-dimension-major-scale-4);
  padding-right: var(--uai-dimension-major-scale-4);
}
.ph-major-scale-5 {
  padding-left: var(--uai-dimension-major-scale-5);
  padding-right: var(--uai-dimension-major-scale-5);
}
.ph-major-scale-6 {
  padding-left: var(--uai-dimension-major-scale-6);
  padding-right: var(--uai-dimension-major-scale-6);
}
.ph-major-scale-7 {
  padding-left: var(--uai-dimension-major-scale-7);
  padding-right: var(--uai-dimension-major-scale-7);
}
.ph-major-scale-8 {
  padding-left: var(--uai-dimension-major-scale-8);
  padding-right: var(--uai-dimension-major-scale-8);
}
.ph-major-scale-9 {
  padding-left: var(--uai-dimension-major-scale-9);
  padding-right: var(--uai-dimension-major-scale-9);
}
.ph-major-scale-10 {
  padding-left: var(--uai-dimension-major-scale-10);
  padding-right: var(--uai-dimension-major-scale-10);
}
.ph-major-scale-11 {
  padding-left: var(--uai-dimension-major-scale-11);
  padding-right: var(--uai-dimension-major-scale-11);
}
.ph-major-scale-12 {
  padding-left: var(--uai-dimension-major-scale-12);
  padding-right: var(--uai-dimension-major-scale-12);
}
.ph-major-scale-13 {
  padding-left: var(--uai-dimension-major-scale-13);
  padding-right: var(--uai-dimension-major-scale-13);
}
.ph-major-scale-14 {
  padding-left: var(--uai-dimension-major-scale-14);
  padding-right: var(--uai-dimension-major-scale-14);
}
.ph-minor-scale-1 {
  padding-left: var(--uai-dimension-minor-scale-1);
  padding-right: var(--uai-dimension-minor-scale-1);
}
.ph-minor-scale-2 {
  padding-left: var(--uai-dimension-minor-scale-2);
  padding-right: var(--uai-dimension-minor-scale-2);
}
.ph-minor-scale-3 {
  padding-left: var(--uai-dimension-minor-scale-3);
  padding-right: var(--uai-dimension-minor-scale-3);
}
.ph-minor-scale-4 {
  padding-left: var(--uai-dimension-minor-scale-4);
  padding-right: var(--uai-dimension-minor-scale-4);
}
.ph-minor-scale-5 {
  padding-left: var(--uai-dimension-minor-scale-5);
  padding-right: var(--uai-dimension-minor-scale-5);
}
.ph-minor-scale-6 {
  padding-left: var(--uai-dimension-minor-scale-6);
  padding-right: var(--uai-dimension-minor-scale-6);
}
.ph-minor-scale-7 {
  padding-left: var(--uai-dimension-minor-scale-7);
  padding-right: var(--uai-dimension-minor-scale-7);
}
.ph-minor-scale-8 {
  padding-left: var(--uai-dimension-minor-scale-8);
  padding-right: var(--uai-dimension-minor-scale-8);
}
.ph-minor-scale-9 {
  padding-left: var(--uai-dimension-minor-scale-9);
  padding-right: var(--uai-dimension-minor-scale-9);
}
.ph-minor-scale-10 {
  padding-left: var(--uai-dimension-minor-scale-10);
  padding-right: var(--uai-dimension-minor-scale-10);
}
.ph-minor-scale-11 {
  padding-left: var(--uai-dimension-minor-scale-11);
  padding-right: var(--uai-dimension-minor-scale-11);
}
.ph-minor-scale-12 {
  padding-left: var(--uai-dimension-minor-scale-12);
  padding-right: var(--uai-dimension-minor-scale-12);
}
.ph-minor-scale-13 {
  padding-left: var(--uai-dimension-minor-scale-13);
  padding-right: var(--uai-dimension-minor-scale-13);
}
.ph-minor-scale-14 {
  padding-left: var(--uai-dimension-minor-scale-14);
  padding-right: var(--uai-dimension-minor-scale-14);
}
.ph-minor-scale-15 {
  padding-left: var(--uai-dimension-minor-scale-15);
  padding-right: var(--uai-dimension-minor-scale-15);
}
.ph-minor-scale-16 {
  padding-left: var(--uai-dimension-minor-scale-16);
  padding-right: var(--uai-dimension-minor-scale-16);
}
.ph-minor-scale-17 {
  padding-left: var(--uai-dimension-minor-scale-17);
  padding-right: var(--uai-dimension-minor-scale-17);
}
.ph-minor-scale-18 {
  padding-left: var(--uai-dimension-minor-scale-18);
  padding-right: var(--uai-dimension-minor-scale-18);
}
.ph-0 {
  padding-left: var(--uai-dimension-0);
  padding-right: var(--uai-dimension-0);
}
.ph-1 {
  padding-left: var(--uai-dimension-1);
  padding-right: var(--uai-dimension-1);
}
.ph-half {
  padding-left: var(--uai-dimension-half);
  padding-right: var(--uai-dimension-half);
}
.ph-third {
  padding-left: var(--uai-dimension-third);
  padding-right: var(--uai-dimension-third);
}
.ph-fourth {
  padding-left: var(--uai-dimension-fourth);
  padding-right: var(--uai-dimension-fourth);
}
.pv-major-scale-1 {
  padding-top: var(--uai-dimension-major-scale-1);
  padding-bottom: var(--uai-dimension-major-scale-1);
}
.pv-major-scale-2 {
  padding-top: var(--uai-dimension-major-scale-2);
  padding-bottom: var(--uai-dimension-major-scale-2);
}
.pv-major-scale-3 {
  padding-top: var(--uai-dimension-major-scale-3);
  padding-bottom: var(--uai-dimension-major-scale-3);
}
.pv-major-scale-4 {
  padding-top: var(--uai-dimension-major-scale-4);
  padding-bottom: var(--uai-dimension-major-scale-4);
}
.pv-major-scale-5 {
  padding-top: var(--uai-dimension-major-scale-5);
  padding-bottom: var(--uai-dimension-major-scale-5);
}
.pv-major-scale-6 {
  padding-top: var(--uai-dimension-major-scale-6);
  padding-bottom: var(--uai-dimension-major-scale-6);
}
.pv-major-scale-7 {
  padding-top: var(--uai-dimension-major-scale-7);
  padding-bottom: var(--uai-dimension-major-scale-7);
}
.pv-major-scale-8 {
  padding-top: var(--uai-dimension-major-scale-8);
  padding-bottom: var(--uai-dimension-major-scale-8);
}
.pv-major-scale-9 {
  padding-top: var(--uai-dimension-major-scale-9);
  padding-bottom: var(--uai-dimension-major-scale-9);
}
.pv-major-scale-10 {
  padding-top: var(--uai-dimension-major-scale-10);
  padding-bottom: var(--uai-dimension-major-scale-10);
}
.pv-major-scale-11 {
  padding-top: var(--uai-dimension-major-scale-11);
  padding-bottom: var(--uai-dimension-major-scale-11);
}
.pv-major-scale-12 {
  padding-top: var(--uai-dimension-major-scale-12);
  padding-bottom: var(--uai-dimension-major-scale-12);
}
.pv-major-scale-13 {
  padding-top: var(--uai-dimension-major-scale-13);
  padding-bottom: var(--uai-dimension-major-scale-13);
}
.pv-major-scale-14 {
  padding-top: var(--uai-dimension-major-scale-14);
  padding-bottom: var(--uai-dimension-major-scale-14);
}
.pv-minor-scale-1 {
  padding-top: var(--uai-dimension-minor-scale-1);
  padding-bottom: var(--uai-dimension-minor-scale-1);
}
.pv-minor-scale-2 {
  padding-top: var(--uai-dimension-minor-scale-2);
  padding-bottom: var(--uai-dimension-minor-scale-2);
}
.pv-minor-scale-3 {
  padding-top: var(--uai-dimension-minor-scale-3);
  padding-bottom: var(--uai-dimension-minor-scale-3);
}
.pv-minor-scale-4 {
  padding-top: var(--uai-dimension-minor-scale-4);
  padding-bottom: var(--uai-dimension-minor-scale-4);
}
.pv-minor-scale-5 {
  padding-top: var(--uai-dimension-minor-scale-5);
  padding-bottom: var(--uai-dimension-minor-scale-5);
}
.pv-minor-scale-6 {
  padding-top: var(--uai-dimension-minor-scale-6);
  padding-bottom: var(--uai-dimension-minor-scale-6);
}
.pv-minor-scale-7 {
  padding-top: var(--uai-dimension-minor-scale-7);
  padding-bottom: var(--uai-dimension-minor-scale-7);
}
.pv-minor-scale-8 {
  padding-top: var(--uai-dimension-minor-scale-8);
  padding-bottom: var(--uai-dimension-minor-scale-8);
}
.pv-minor-scale-9 {
  padding-top: var(--uai-dimension-minor-scale-9);
  padding-bottom: var(--uai-dimension-minor-scale-9);
}
.pv-minor-scale-10 {
  padding-top: var(--uai-dimension-minor-scale-10);
  padding-bottom: var(--uai-dimension-minor-scale-10);
}
.pv-minor-scale-11 {
  padding-top: var(--uai-dimension-minor-scale-11);
  padding-bottom: var(--uai-dimension-minor-scale-11);
}
.pv-minor-scale-12 {
  padding-top: var(--uai-dimension-minor-scale-12);
  padding-bottom: var(--uai-dimension-minor-scale-12);
}
.pv-minor-scale-13 {
  padding-top: var(--uai-dimension-minor-scale-13);
  padding-bottom: var(--uai-dimension-minor-scale-13);
}
.pv-minor-scale-14 {
  padding-top: var(--uai-dimension-minor-scale-14);
  padding-bottom: var(--uai-dimension-minor-scale-14);
}
.pv-minor-scale-15 {
  padding-top: var(--uai-dimension-minor-scale-15);
  padding-bottom: var(--uai-dimension-minor-scale-15);
}
.pv-minor-scale-16 {
  padding-top: var(--uai-dimension-minor-scale-16);
  padding-bottom: var(--uai-dimension-minor-scale-16);
}
.pv-minor-scale-17 {
  padding-top: var(--uai-dimension-minor-scale-17);
  padding-bottom: var(--uai-dimension-minor-scale-17);
}
.pv-minor-scale-18 {
  padding-top: var(--uai-dimension-minor-scale-18);
  padding-bottom: var(--uai-dimension-minor-scale-18);
}
.pv-0 {
  padding-top: var(--uai-dimension-0);
  padding-bottom: var(--uai-dimension-0);
}
.pv-1 {
  padding-top: var(--uai-dimension-1);
  padding-bottom: var(--uai-dimension-1);
}
.pv-half {
  padding-top: var(--uai-dimension-half);
  padding-bottom: var(--uai-dimension-half);
}
.pv-third {
  padding-top: var(--uai-dimension-third);
  padding-bottom: var(--uai-dimension-third);
}
.pv-fourth {
  padding-top: var(--uai-dimension-fourth);
  padding-bottom: var(--uai-dimension-fourth);
}
.pt-major-scale-1 {
  padding-top: var(--uai-dimension-major-scale-1);
}
.pt-major-scale-2 {
  padding-top: var(--uai-dimension-major-scale-2);
}
.pt-major-scale-3 {
  padding-top: var(--uai-dimension-major-scale-3);
}
.pt-major-scale-4 {
  padding-top: var(--uai-dimension-major-scale-4);
}
.pt-major-scale-5 {
  padding-top: var(--uai-dimension-major-scale-5);
}
.pt-major-scale-6 {
  padding-top: var(--uai-dimension-major-scale-6);
}
.pt-major-scale-7 {
  padding-top: var(--uai-dimension-major-scale-7);
}
.pt-major-scale-8 {
  padding-top: var(--uai-dimension-major-scale-8);
}
.pt-major-scale-9 {
  padding-top: var(--uai-dimension-major-scale-9);
}
.pt-major-scale-10 {
  padding-top: var(--uai-dimension-major-scale-10);
}
.pt-major-scale-11 {
  padding-top: var(--uai-dimension-major-scale-11);
}
.pt-major-scale-12 {
  padding-top: var(--uai-dimension-major-scale-12);
}
.pt-major-scale-13 {
  padding-top: var(--uai-dimension-major-scale-13);
}
.pt-major-scale-14 {
  padding-top: var(--uai-dimension-major-scale-14);
}
.pt-minor-scale-1 {
  padding-top: var(--uai-dimension-minor-scale-1);
}
.pt-minor-scale-2 {
  padding-top: var(--uai-dimension-minor-scale-2);
}
.pt-minor-scale-3 {
  padding-top: var(--uai-dimension-minor-scale-3);
}
.pt-minor-scale-4 {
  padding-top: var(--uai-dimension-minor-scale-4);
}
.pt-minor-scale-5 {
  padding-top: var(--uai-dimension-minor-scale-5);
}
.pt-minor-scale-6 {
  padding-top: var(--uai-dimension-minor-scale-6);
}
.pt-minor-scale-7 {
  padding-top: var(--uai-dimension-minor-scale-7);
}
.pt-minor-scale-8 {
  padding-top: var(--uai-dimension-minor-scale-8);
}
.pt-minor-scale-9 {
  padding-top: var(--uai-dimension-minor-scale-9);
}
.pt-minor-scale-10 {
  padding-top: var(--uai-dimension-minor-scale-10);
}
.pt-minor-scale-11 {
  padding-top: var(--uai-dimension-minor-scale-11);
}
.pt-minor-scale-12 {
  padding-top: var(--uai-dimension-minor-scale-12);
}
.pt-minor-scale-13 {
  padding-top: var(--uai-dimension-minor-scale-13);
}
.pt-minor-scale-14 {
  padding-top: var(--uai-dimension-minor-scale-14);
}
.pt-minor-scale-15 {
  padding-top: var(--uai-dimension-minor-scale-15);
}
.pt-minor-scale-16 {
  padding-top: var(--uai-dimension-minor-scale-16);
}
.pt-minor-scale-17 {
  padding-top: var(--uai-dimension-minor-scale-17);
}
.pt-minor-scale-18 {
  padding-top: var(--uai-dimension-minor-scale-18);
}
.pt-0 {
  padding-top: var(--uai-dimension-0);
}
.pt-1 {
  padding-top: var(--uai-dimension-1);
}
.pt-half {
  padding-top: var(--uai-dimension-half);
}
.pt-third {
  padding-top: var(--uai-dimension-third);
}
.pt-fourth {
  padding-top: var(--uai-dimension-fourth);
}
.pr-major-scale-1 {
  padding-right: var(--uai-dimension-major-scale-1);
}
.pr-major-scale-2 {
  padding-right: var(--uai-dimension-major-scale-2);
}
.pr-major-scale-3 {
  padding-right: var(--uai-dimension-major-scale-3);
}
.pr-major-scale-4 {
  padding-right: var(--uai-dimension-major-scale-4);
}
.pr-major-scale-5 {
  padding-right: var(--uai-dimension-major-scale-5);
}
.pr-major-scale-6 {
  padding-right: var(--uai-dimension-major-scale-6);
}
.pr-major-scale-7 {
  padding-right: var(--uai-dimension-major-scale-7);
}
.pr-major-scale-8 {
  padding-right: var(--uai-dimension-major-scale-8);
}
.pr-major-scale-9 {
  padding-right: var(--uai-dimension-major-scale-9);
}
.pr-major-scale-10 {
  padding-right: var(--uai-dimension-major-scale-10);
}
.pr-major-scale-11 {
  padding-right: var(--uai-dimension-major-scale-11);
}
.pr-major-scale-12 {
  padding-right: var(--uai-dimension-major-scale-12);
}
.pr-major-scale-13 {
  padding-right: var(--uai-dimension-major-scale-13);
}
.pr-major-scale-14 {
  padding-right: var(--uai-dimension-major-scale-14);
}
.pr-minor-scale-1 {
  padding-right: var(--uai-dimension-minor-scale-1);
}
.pr-minor-scale-2 {
  padding-right: var(--uai-dimension-minor-scale-2);
}
.pr-minor-scale-3 {
  padding-right: var(--uai-dimension-minor-scale-3);
}
.pr-minor-scale-4 {
  padding-right: var(--uai-dimension-minor-scale-4);
}
.pr-minor-scale-5 {
  padding-right: var(--uai-dimension-minor-scale-5);
}
.pr-minor-scale-6 {
  padding-right: var(--uai-dimension-minor-scale-6);
}
.pr-minor-scale-7 {
  padding-right: var(--uai-dimension-minor-scale-7);
}
.pr-minor-scale-8 {
  padding-right: var(--uai-dimension-minor-scale-8);
}
.pr-minor-scale-9 {
  padding-right: var(--uai-dimension-minor-scale-9);
}
.pr-minor-scale-10 {
  padding-right: var(--uai-dimension-minor-scale-10);
}
.pr-minor-scale-11 {
  padding-right: var(--uai-dimension-minor-scale-11);
}
.pr-minor-scale-12 {
  padding-right: var(--uai-dimension-minor-scale-12);
}
.pr-minor-scale-13 {
  padding-right: var(--uai-dimension-minor-scale-13);
}
.pr-minor-scale-14 {
  padding-right: var(--uai-dimension-minor-scale-14);
}
.pr-minor-scale-15 {
  padding-right: var(--uai-dimension-minor-scale-15);
}
.pr-minor-scale-16 {
  padding-right: var(--uai-dimension-minor-scale-16);
}
.pr-minor-scale-17 {
  padding-right: var(--uai-dimension-minor-scale-17);
}
.pr-minor-scale-18 {
  padding-right: var(--uai-dimension-minor-scale-18);
}
.pr-0 {
  padding-right: var(--uai-dimension-0);
}
.pr-1 {
  padding-right: var(--uai-dimension-1);
}
.pr-half {
  padding-right: var(--uai-dimension-half);
}
.pr-third {
  padding-right: var(--uai-dimension-third);
}
.pr-fourth {
  padding-right: var(--uai-dimension-fourth);
}
.pb-major-scale-1 {
  padding-bottom: var(--uai-dimension-major-scale-1);
}
.pb-major-scale-2 {
  padding-bottom: var(--uai-dimension-major-scale-2);
}
.pb-major-scale-3 {
  padding-bottom: var(--uai-dimension-major-scale-3);
}
.pb-major-scale-4 {
  padding-bottom: var(--uai-dimension-major-scale-4);
}
.pb-major-scale-5 {
  padding-bottom: var(--uai-dimension-major-scale-5);
}
.pb-major-scale-6 {
  padding-bottom: var(--uai-dimension-major-scale-6);
}
.pb-major-scale-7 {
  padding-bottom: var(--uai-dimension-major-scale-7);
}
.pb-major-scale-8 {
  padding-bottom: var(--uai-dimension-major-scale-8);
}
.pb-major-scale-9 {
  padding-bottom: var(--uai-dimension-major-scale-9);
}
.pb-major-scale-10 {
  padding-bottom: var(--uai-dimension-major-scale-10);
}
.pb-major-scale-11 {
  padding-bottom: var(--uai-dimension-major-scale-11);
}
.pb-major-scale-12 {
  padding-bottom: var(--uai-dimension-major-scale-12);
}
.pb-major-scale-13 {
  padding-bottom: var(--uai-dimension-major-scale-13);
}
.pb-major-scale-14 {
  padding-bottom: var(--uai-dimension-major-scale-14);
}
.pb-minor-scale-1 {
  padding-bottom: var(--uai-dimension-minor-scale-1);
}
.pb-minor-scale-2 {
  padding-bottom: var(--uai-dimension-minor-scale-2);
}
.pb-minor-scale-3 {
  padding-bottom: var(--uai-dimension-minor-scale-3);
}
.pb-minor-scale-4 {
  padding-bottom: var(--uai-dimension-minor-scale-4);
}
.pb-minor-scale-5 {
  padding-bottom: var(--uai-dimension-minor-scale-5);
}
.pb-minor-scale-6 {
  padding-bottom: var(--uai-dimension-minor-scale-6);
}
.pb-minor-scale-7 {
  padding-bottom: var(--uai-dimension-minor-scale-7);
}
.pb-minor-scale-8 {
  padding-bottom: var(--uai-dimension-minor-scale-8);
}
.pb-minor-scale-9 {
  padding-bottom: var(--uai-dimension-minor-scale-9);
}
.pb-minor-scale-10 {
  padding-bottom: var(--uai-dimension-minor-scale-10);
}
.pb-minor-scale-11 {
  padding-bottom: var(--uai-dimension-minor-scale-11);
}
.pb-minor-scale-12 {
  padding-bottom: var(--uai-dimension-minor-scale-12);
}
.pb-minor-scale-13 {
  padding-bottom: var(--uai-dimension-minor-scale-13);
}
.pb-minor-scale-14 {
  padding-bottom: var(--uai-dimension-minor-scale-14);
}
.pb-minor-scale-15 {
  padding-bottom: var(--uai-dimension-minor-scale-15);
}
.pb-minor-scale-16 {
  padding-bottom: var(--uai-dimension-minor-scale-16);
}
.pb-minor-scale-17 {
  padding-bottom: var(--uai-dimension-minor-scale-17);
}
.pb-minor-scale-18 {
  padding-bottom: var(--uai-dimension-minor-scale-18);
}
.pb-0 {
  padding-bottom: var(--uai-dimension-0);
}
.pb-1 {
  padding-bottom: var(--uai-dimension-1);
}
.pb-half {
  padding-bottom: var(--uai-dimension-half);
}
.pb-third {
  padding-bottom: var(--uai-dimension-third);
}
.pb-fourth {
  padding-bottom: var(--uai-dimension-fourth);
}
.pl-major-scale-1 {
  padding-left: var(--uai-dimension-major-scale-1);
}
.pl-major-scale-2 {
  padding-left: var(--uai-dimension-major-scale-2);
}
.pl-major-scale-3 {
  padding-left: var(--uai-dimension-major-scale-3);
}
.pl-major-scale-4 {
  padding-left: var(--uai-dimension-major-scale-4);
}
.pl-major-scale-5 {
  padding-left: var(--uai-dimension-major-scale-5);
}
.pl-major-scale-6 {
  padding-left: var(--uai-dimension-major-scale-6);
}
.pl-major-scale-7 {
  padding-left: var(--uai-dimension-major-scale-7);
}
.pl-major-scale-8 {
  padding-left: var(--uai-dimension-major-scale-8);
}
.pl-major-scale-9 {
  padding-left: var(--uai-dimension-major-scale-9);
}
.pl-major-scale-10 {
  padding-left: var(--uai-dimension-major-scale-10);
}
.pl-major-scale-11 {
  padding-left: var(--uai-dimension-major-scale-11);
}
.pl-major-scale-12 {
  padding-left: var(--uai-dimension-major-scale-12);
}
.pl-major-scale-13 {
  padding-left: var(--uai-dimension-major-scale-13);
}
.pl-major-scale-14 {
  padding-left: var(--uai-dimension-major-scale-14);
}
.pl-minor-scale-1 {
  padding-left: var(--uai-dimension-minor-scale-1);
}
.pl-minor-scale-2 {
  padding-left: var(--uai-dimension-minor-scale-2);
}
.pl-minor-scale-3 {
  padding-left: var(--uai-dimension-minor-scale-3);
}
.pl-minor-scale-4 {
  padding-left: var(--uai-dimension-minor-scale-4);
}
.pl-minor-scale-5 {
  padding-left: var(--uai-dimension-minor-scale-5);
}
.pl-minor-scale-6 {
  padding-left: var(--uai-dimension-minor-scale-6);
}
.pl-minor-scale-7 {
  padding-left: var(--uai-dimension-minor-scale-7);
}
.pl-minor-scale-8 {
  padding-left: var(--uai-dimension-minor-scale-8);
}
.pl-minor-scale-9 {
  padding-left: var(--uai-dimension-minor-scale-9);
}
.pl-minor-scale-10 {
  padding-left: var(--uai-dimension-minor-scale-10);
}
.pl-minor-scale-11 {
  padding-left: var(--uai-dimension-minor-scale-11);
}
.pl-minor-scale-12 {
  padding-left: var(--uai-dimension-minor-scale-12);
}
.pl-minor-scale-13 {
  padding-left: var(--uai-dimension-minor-scale-13);
}
.pl-minor-scale-14 {
  padding-left: var(--uai-dimension-minor-scale-14);
}
.pl-minor-scale-15 {
  padding-left: var(--uai-dimension-minor-scale-15);
}
.pl-minor-scale-16 {
  padding-left: var(--uai-dimension-minor-scale-16);
}
.pl-minor-scale-17 {
  padding-left: var(--uai-dimension-minor-scale-17);
}
.pl-minor-scale-18 {
  padding-left: var(--uai-dimension-minor-scale-18);
}
.pl-0 {
  padding-left: var(--uai-dimension-0);
}
.pl-1 {
  padding-left: var(--uai-dimension-1);
}
.pl-half {
  padding-left: var(--uai-dimension-half);
}
.pl-third {
  padding-left: var(--uai-dimension-third);
}
.pl-fourth {
  padding-left: var(--uai-dimension-fourth);
}
.shadow-1 {
  box-shadow: var(--uai-dimension-extra-1) var(--uai-dimension-minor-scale-1)
    var(--uai-dimension-minor-scale-1) var(--uai-dimension-extra-1)
    var(--uai-color-shadow-1);
}
.shadow-minus-1 {
  box-shadow: var(--uai-dimension-extra-1) var(--uai-dimension-minor-scale-1)
    var(--uai-dimension-minor-scale-1) var(--uai-dimension-extra-1)
    var(--uai-color-shadow-1) inset;
}
.title-1 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-semi-bold);
  letter-spacing: var(--uai-typography-tracking-1);
  line-height: var(--uai-typography-leading-1);
  font-size: var(--uai-dimension-minor-scale-16);
}
.title-2 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-semi-bold);
  letter-spacing: var(--uai-typography-tracking-1);
  line-height: var(--uai-typography-leading-1);
  font-size: var(--uai-dimension-minor-scale-14);
}
.title-3 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-semi-bold);
  letter-spacing: var(--uai-typography-tracking-1);
  line-height: var(--uai-typography-leading-1);
  font-size: var(--uai-dimension-minor-scale-12);
}
.heading-1 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-medium);
  letter-spacing: var(--uai-typography-tracking-3);
  line-height: var(--uai-typography-leading-3);
  font-size: var(--uai-dimension-minor-scale-8);
}
.heading-2 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-medium);
  letter-spacing: var(--uai-typography-tracking-3);
  line-height: var(--uai-typography-leading-3);
  font-size: var(--uai-dimension-minor-scale-7);
}
.heading-3 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-medium);
  letter-spacing: var(--uai-typography-tracking-3);
  line-height: var(--uai-typography-leading-3);
  font-size: var(--uai-dimension-minor-scale-6);
}
.heading-4 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-medium);
  letter-spacing: var(--uai-typography-tracking-3);
  line-height: var(--uai-typography-leading-3);
  font-size: var(--uai-dimension-minor-scale-5);
}
.dialog-1 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-medium);
  letter-spacing: var(--uai-typography-tracking-2);
  line-height: var(--uai-typography-leading-2);
  font-size: var(--uai-dimension-minor-scale-10);
}
.dialog-2 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-medium);
  letter-spacing: var(--uai-typography-tracking-2);
  line-height: var(--uai-typography-leading-2);
  font-size: var(--uai-dimension-minor-scale-9);
}
.dialog-3 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-medium);
  letter-spacing: var(--uai-typography-tracking-2);
  line-height: var(--uai-typography-leading-2);
  font-size: var(--uai-dimension-minor-scale-8);
}
.dialog-4 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-medium);
  letter-spacing: var(--uai-typography-tracking-2);
  line-height: var(--uai-typography-leading-2);
  font-size: var(--uai-dimension-minor-scale-7);
}
.body-1 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-normal);
  letter-spacing: var(--uai-typography-tracking-5);
  line-height: var(--uai-typography-leading-4);
  font-size: var(--uai-dimension-minor-scale-8);
}
.body-2 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-normal);
  letter-spacing: var(--uai-typography-tracking-5);
  line-height: var(--uai-typography-leading-4);
  font-size: var(--uai-dimension-minor-scale-7);
}
.body-3 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-normal);
  letter-spacing: var(--uai-typography-tracking-5);
  line-height: var(--uai-typography-leading-4);
  font-size: var(--uai-dimension-minor-scale-6);
}
.body-4 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-normal);
  letter-spacing: var(--uai-typography-tracking-5);
  line-height: var(--uai-typography-leading-4);
  font-size: var(--uai-dimension-minor-scale-5);
}
.caption-1 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-normal);
  letter-spacing: var(--uai-typography-tracking-4);
  line-height: var(--uai-typography-leading-1);
  font-size: var(--uai-dimension-minor-scale-7);
}
.caption-2 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-normal);
  letter-spacing: var(--uai-typography-tracking-4);
  line-height: var(--uai-typography-leading-1);
  font-size: var(--uai-dimension-minor-scale-6);
}
.caption-3 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-normal);
  letter-spacing: var(--uai-typography-tracking-4);
  line-height: var(--uai-typography-leading-1);
  font-size: var(--uai-dimension-minor-scale-5);
}
.caption-4 {
  font-family: var(--uai-typography-family-sans);
  font-weight: var(--uai-typography-weight-normal);
  letter-spacing: var(--uai-typography-tracking-4);
  line-height: var(--uai-typography-leading-1);
  font-size: var(--uai-dimension-minor-scale-4);
}
